notifications:
  email:
    on_success: never
    on_failure: always

language: node_js
node_js:
  - 8

stages:
  - name: test
  - name: deploy
    if: tag =~ ^v
  - name: sonar

cache:
  directories:
    - $HOME/.sonar/cache
    - $HOME/.m2
    - $HOME/.npm
    - frontend/node_modules
    - crawler/node_modules
    - crawler-api-backend/node_modules

install:
  - npm install -g codecov
  - cd frontend
  - npm install
  - cd ../crawler
  - npm install
  - cd ../crawler-api-backend
  - npm install
  - cd ..

matrix:
  include:
    - env: NAME=Frontend
      stage: test
      script:
        - cd frontend
        - npm run lint
        - npm test -- --ci && codecov

    - env: NAME=Crawler
      stage: test
      script:
        - cd crawler
        - npm run lint
        - npm test -- '--testPathPattern=__test__/(?!crawlers\.test).*\.js' && codecov

    - env: NAME=Crawler-api-backend
      stage: test
      script:
        - cd crawler-api-backend
        - npm run lint
        - npm test && codecov

    - env: NAME=Sonar-Analysis
      stage: sonar
      addons:
        sonarcloud:
          organization: "liu233w-github"
          token: $SONAR_TOKEN
      script:
        - echo 'Nothing Here'
      after_script:
        - sonar-scanner -Dsonar.projectKey=acm-statistics -Dsonar.organization=liu233w-github -Dsonar.sources=. -Dsonar.host.url=https://sonarcloud.io -Dsonar.login=$SONAR_TOKEN -Dsonar.exclusions=**/node_modules/**/*,backend
