<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Project Rule Set" Description=" " ToolsVersion="15.0">
    <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
        <Rule Id="SA1652" Action="None" />
        <Rule Id="SA1201" Action="None" />
        <Rule Id="SA1202" Action="None" />
        <Rule Id="SA1600" Action="None" />
        <Rule Id="SA1602" Action="None" />
        <Rule Id="SA1614" Action="None" />
        <Rule Id="SA1615" Action="None" />
        <Rule Id="SA1204" Action="None" />
        <Rule Id="SA1124" Action="None" />
    </Rules>
    <Rules AnalyzerId="Microsoft.Usage" RuleNamespace="Microsoft.Usage">
        <Rule Id="CS1591" Action="None" />
    </Rules>
</RuleSet>
