name: Unit Tests

on: [push, pull_request]

jobs:

  backend:
    name: Test Backend
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - run: |
        cd backend
        # smoke test and lint
        make run run-cmd="dotnet build" make-args="no-interactive no-tty"
        make test-ci
    - uses: codecov/codecov-action@40a12dcee2df644d47232dde008099a3e9e4f865 # v3

  crawler:
    name: Test Crawler
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - run: |
        cd crawler
        make run run-cmd="npm run lint" make-args="no-interactive no-tty"
        make test-ci
    - uses: codecov/codecov-action@40a12dcee2df644d47232dde008099a3e9e4f865 # v3

  crawler-api-backend:
    name: Test Crawler Api Backend
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - run: |
        cd crawler-api-backend
        make run run-cmd="npm run lint" make-args="no-interactive no-tty"
        make test-ci
    - uses: codecov/codecov-action@40a12dcee2df644d47232dde008099a3e9e4f865 # v3

  frontend:
    name: Test Frontend
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - run: |
        cd frontend
        make run run-cmd="npm run lint" make-args="no-interactive no-tty"
        make test-ci
    - uses: codecov/codecov-action@40a12dcee2df644d47232dde008099a3e9e4f865 # v3
        
  captcha-service:
    name: Test Captcha Service
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - run: |
        cd captcha-service
        make run run-cmd="npm run lint" make-args="no-interactive no-tty"
        make test-ci
    - uses: codecov/codecov-action@40a12dcee2df644d47232dde008099a3e9e4f865 # v3

  ohunt:
    name: Test OHunt
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - run: |
        cd ohunt
        # smoke test and lint
        make run run-cmd="dotnet build" make-args="no-interactive no-tty"
        make test-ci
    - uses: codecov/codecov-action@40a12dcee2df644d47232dde008099a3e9e4f865 # v3

  commitlint:
    name: Commitlint
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
    - uses: actions/checkout@master
      with:
        fetch-depth: 0
    - uses: wagoid/commitlint-github-action@456526eec71276a59e74aafdfe06a9632ac2eee1 # v5
